body {background-color: aliceblue;
      overflow-y: scroll;
        scrollbar-color:'white'; 
        scroll-behavior: 'smooth'; 
      overflow-x: scroll;
        scrollbar-color:'white'; 
        scroll-behavior: 'smooth'}

#top {text-align: center;
      }
#middle {background-color: #8FBC8F;
        text-align: center;
     }
#bottom {background-color:#f0f8ff;
        text-align: center; }

#pageTitle {margin-top: 10px;
          font-family: 'baskerville';}

#subTitle { color: #262626;
    overflow: hidden;   
    white-space: nowrap;   
    margin: 0 auto;   
    letter-spacing: .2rem;   
    margin-bottom: 20px;
    }
#bottomTitle {
  font-family: 'baskerville';
  text-align: center;
  border-bottom: 1px solid black;
}

#gallery{
  padding-top: 20px;
  padding-bottom: 20px;
}
.card{

  border-radius: 15px;
  text-align: center;
  width: 300px;
  height: 300px;
  display: inline-grid;
  transform-style:preserve-3d;
  transition-duration: 0.6s;
}

.images{
  object-fit: contain;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px, solid white;
  border-radius: 15px;
  z-index: 0;
}

.storyTitle {
  transition-duration: 0.6s;
  position:absolute;
  text-align: center;
  inset: 175px 40px 50px 40px;
  z-index: 1;
  font-family:'Futura';
  color: aliceblue;
  
}

.storyContent{
  margin-top: 30%;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Futura';
}

.front{
  position: absolute;
  border: 5px, solid white;
  border-radius: 15px;
  backface-visibility: hidden;
}

.back{
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: 5px, solid white;
  border-radius: 15px;
}

.flipped{
  transform: rotateY(180deg)
}

#messageForm{
  font-family: 'baskerville';
  margin-left: 20px;
  line-height: 20px;
}
#autocomplete{
  position: relative
}

#messages{
  margin-left: 10px;
  line-height: 20px;
}

input {border: none;
  margin-bottom: 20px;
  }

#button{
  font-family: 'baskerville';
  background-color: transparent;
  border: 1px solid black;
  display: block;
  margin-left: 46%;
}

#songList{
  margin-left: 10px;
  font-family: 'baskerville';
}

